<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{index.html}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Danh sách nhân viên</title>
</head>
<body>
<div class="main-content" layout:fragment="content">

        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a th:href="@{/home}">
                        Trang chủ
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Quản lý tài khoản
                        </a>
                    </li>
                    <li class="active">
                        Danh sách người dùng
                    </li>
                </ul>
                <!-- /.breadcrumb -->
            </div>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <th:block th:if="${message != null}">
                            <div th:class="'alert alert-block alert-'${alert}" th:text="${message}">
                            </div>
                        </th:block>
                        <!-- PAGE CONTENT BEGINS -->

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="widget-box table-filter">
                                    <div class="widget-header">
                                        <h4 class="widget-title" style="font-family: VnBlack">
                                            Tìm kiếm
                                        </h4>
                                        <div class="widget-toolbar">
                                            <a href="#" data-action="collapse">
                                                <i class="ace-icon fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <form  th:action="@{/user-list}" id="listFormUser" method="GET" th:object="${userModel}">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">
                                                        Giá trị cần tìm
                                                    </label>
                                                    <div class="col-sm-8">
                                                        <div class="fg-line">
                                                            <input type="text"  class="form-control input-sm" th:field ="*{searchValue}" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-8">
                                                        <button id="btnSearchUser" type="button"
                                                                class="btn btn-sm btn-success">
                                                            Tìm kiếm
                                                            <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <input type="hidden" value="1" id="page" name="page"/>
                                        <input type="hidden" value="" id="limit" name="limit" th:field="*{limit}"/>
                                    </form>
                                </div>
                                <br>
                                <div class="table-btn-controls">
                                    <th:block th:each = "item : ${T(com.estate.utils.SecurityUtils).getPrincipal().getAuthorities()}">
                                        <th:block th:if="${item.getAuthority() == 'ROLE_MANAGER'}">                                    <div class="pull-right tableTools-container">
                                        <div class="dt-buttons btn-overlap btn-group">
                                            <a flag="info"
                                               class="dt-button buttons-colvis btn btn-white btn-primary btn-bold"
                                               data-toggle="tooltip"
                                               title="Thêm người dùng"
                                               th:href="@{/user-edit}">
                                            <span>
																<i class="fa fa-plus-circle bigger-110 purple"></i>
															</span>
                                            </a>
                                            <button id="btnDelete" type="button" disabled
                                                    class="dt-button buttons-html5 btn btn-white btn-primary btn-bold"
                                                    data-toggle="tooltip"
                                                    title="Xóa bài viết" onclick="warningBeforeDeleteUser()">
															<span>
																<i class="fa fa-trash-o bigger-110 pink"></i>
															</span>
                                            </button>
                                        </div>
                                    </div>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table id="buildingList" class="table  table-bordered ">
                                        <thead>
                                        <tr style="font-family: VnBlack ; font-weight: bold; color: #000000;">
                                            <th><input  type="checkbox" id="checkAll"value="#"/></th>
                                            <th>Tên  </th>
                                            <th>Tên đầy đủ</th>
                                            <th>Thao tác</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${userModel.listResult}" >
                                            <td> <input type="checkbox" th:id= "'checkbox_' + ${item.id} " th:value="*{item.id}" /></td>
                                            <td th:text="${item.userName}"> </td>
                                            <td th:text="${item.fullName}"> </td>
                                            <td>
                                                <th:block th:each = "index : ${T(com.estate.utils.SecurityUtils).getPrincipal().getAuthorities()}">
                                                    <th:block th:if="${index.getAuthority() == 'ROLE_MANAGER'}">
                                                <a class="btn btn-sm btn-primary btn-edit" data-toggle="tooltip" th:if="${item.roleCode != 'MANAGER'}"
                                                   title="Cập nhật người dùng"
                                                   th:href="@{'/user-edit-'+ ${item.id}}">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <p th:if="${item.roleCode == 'MANAGER'}" >Không đươc thao tác</p>
                                                    </th:block>

                                                    <th:block th:if="${index.getAuthority() != 'ROLE_MANAGER'}">
                                                        <p>Không đươc thao tác</p>
                                                    </th:block>
                                                </th:block>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table> <!-- table-->
                                    <ul class="pagination" id="pagination"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
<th:block layout:fragment="script">
     <script>
         console.log("this is my script for user")
         $('#btnSearchUser').click(function (e){
             e.preventDefault();
             $('#listFormUser').submit();
         })

         /* delete users*/
         function warningBeforeDeleteUser() {
             showAlertBeforeDelete(function () {
                 event.preventDefault();
                 let dataArray = $('tbody input[type=checkbox]:checked').map(function () {
                     return $(this).val();
                 }).get();
                 deteleUser(dataArray);
             });
         }
         function deteleUser(data) {
             $.ajax({
                 url: '/api/user',
                 type: 'DELETE',
                 contentType: 'application/json',
                 data: JSON.stringify(data),
                 success: function () {
                     swal("Deleted!", "The employee has been deleted.", "success").then((result) => {
                         if(result.value){
                             location.reload();
                             window.location.href = "/user-list?page=1&limit=5"
                         }
                     });
                 },
                 error: function () {
                     swal("Error", "Could not be deleted! :)", "error");
                 }
             });
         }

         /* pagination */
         let totalPages = [[${userModel.totalPage}]];
         let currentPage = [[${userModel.page}]];
         $(function () {
             window.pagObj = $('#pagination').twbsPagination({
                 totalPages:totalPages,
                 visiblePages: 5,
                 startPage : currentPage,
                 onPageClick: function (event, page) {
                     if (currentPage != page){
                         $('#page').val(page);
                         $('#limit').val(5);
                         $('#listFormUser').submit();
                     }
                     console.info(page + ' (from options)');
                 }
             })
         });
     </script>
</th:block>
</body>
</html>