<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Thông tin tài khoản </title>
</head>
<body>
<div class="main-content" layout:fragment="content">
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a th:href="@{/home}">
                        Trang chủ
                    </a>
                </li>
                <li class="active">Đổi mật khẩu  </li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal" id="formChangePassword"  name="formChangePassword"  >
                        <div id="profile">
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >Mật khẩu cũ</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" th:id="oldPassword" name="oldPassword"  />
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" >Mật khẩu mới </label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" th:id="newPassword" name="newPassword"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" > Nhập lại mật khẩu mới</label>
                                <div class="col-sm-7">
                                    <input type="password" class="form-control" th:id="confirmPassword" name="confirmPassword"/>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9" >
                                    <div >
                                        <button class="btn btn-info" type="button"  id="btnChangePassword" >
                                            <i class="ace-icon fa fa-check bigger-110"></i>
                                            Đổi mật khẩu
                                        </button>
                                    </div>

                                    <button class="btn" type="reset" style="    margin-left: 200px;   margin-top: -64px;">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        Hủy
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" th:value="${userPassword.id}" id="userId"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end content-->

<th:block layout:fragment="script" >
<script>

        $('#formChangePassword').validate({
            rules: {
                oldPassword: "required",
                newPassword: {
                    required: true,
                    minlength: 6
                },
                confirmPassword: {
                    required: true,
                    equalTo : "#newPassword"
                },
            },
            messages: {
                oldPassword: "Vui lòng nhập mật khẩu cũ của bạn.",
                newPassword: {
                    required: "Vui lòng nhập mật khẩu mới của bạn.",
                    minlength: "Mật khẩu tối thiểu 6 kí tự."
                },
                confirmPassword: {
                    required:"Vui lòng nhập lại mật khẩu mới của bạn.",
                    equalTo: "Mật khẩu không trùng khớp."
                }
            }
        })

        $('#btnChangePassword').click(function (){
            warningBeforeChangePassword();
        })


        function warningBeforeChangePassword(){
            showAlertBeforeUpdate(function (){
                event.preventDefault();
                if ($('#formChangePassword').valid()){
                    let dataArrayChangePass = {};
                    let formDataChangePass = $('#formChangePassword').serializeArray();
                    $.each(formDataChangePass, function (i, v) {
                        dataArrayChangePass["" + v.name + ""] = v.value;
                    });
                    let id = $('#userId').val();
                    changePassword(id,dataArrayChangePass);
                }
            })
        }
        function changePassword( id, data) {
            $.ajax({
                url: '/api/user/change-password/'+id,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function () {
                    swal("Updated!", "success").then((result) => {
                        if(result.value){
                            location.reload();
                            window.location.href = "/user-profile-password?message=update_success";
                        }
                    });
                },
                error: function () {
                    swal("Error", "Could not be updated! ", "error");
                    window.location.href = "/user-profile-password?message=error_system";
                }
            });
        }
</script>
</th:block>
</body>
</html>