<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Trang chủ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{admin/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{admin/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{admin/assets/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style"/>
    <script type='text/javascript' th:src="@{admin/assets/js/ace-extra.min.js}"></script>
    <link rel="stylesheet"
          th:href="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">

    <!-- jquery -->
    <script type='text/javascript' th:src="@{admin/js/2.1.4/jquery.min.js}"></script>
    <script th:src="@{admin/assets/paging/jquery.twbsPagination.js}"></script>
    <!--sweetalert-->
    <script type='text/javascript' th:src="@{admin/assets/sweetalert2/sweetalert2.min.js}"></script>

    <link rel="stylesheet" th:href="@{admin/assets/sweetalert2/sweetalert2.min.css}">
    <style>
        .form-horizontal {
            font-family: VnBlack;
        }

        .form-horizontal label {
            font-family: VnBlack;
            font-weight: 700;
        }

        .form-horizontal input {
            height: 28px;
            margin-bottom: 10px;
        }

        .form-horizontal input[type ="checkbox"] {
            height: auto;
        }

        td > th {
            font-family: VnBlack;
            font-weight: 700;
        }

        .form-group {
            margin-bottom: 0px;
        }
        label.error {
            color:#ff0500;
        }
    </style>
</head>
<body class="no-skin">
<!-- header -->
<div id="navbar" class="navbar navbar-default ace-save-state">
    <div th:replace="admin/fragments/header:: header "></div>
</div>

<!-- header -->

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <!-- menu -->
    <div id="sidebar" class="sidebar  responsive  ace-save-state">
        <script type="text/javascript">
            try{ace.settings.loadState('sidebar')}catch(e){}
        </script>
        <div th:replace="admin/fragments/menu:: menu "></div>
    </div>

    <!-- menu -->

    <!-- body -->
    <div class="main-content" layout:fragment="content">

    </div>

    <div id = "assignmentBuildingModal" class ="modal fade" role="dialog" layout:fragment="modal">

    </div>
    <!-- footer -->
    <div class="footer">
        <div th:replace="admin/fragments/footer:: footer "></div>
    </div>
    <!-- footer -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse display">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<!--jQuery Validation Plugin-->
<script th:src="@{admin/js/jqueryvalidate/jquery.validate.min.js}"></script>

<!--common javascript file-->
<script type="text/javascript" th:src="@{admin/js/global_admin_script.js}"></script>

<script th:src="@{admin/assets/js/bootstrap.min.js}"></script>
<script th:src="@{admin/assets/js/jquery-ui.custom.min.js}"></script>
<script th:src="@{admin/assets/js/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{admin/assets/js/jquery.easypiechart.min.js}"></script>
<script th:src="@{admin/assets/js/jquery.sparkline.min.js}"></script>
<script th:src="@{admin/assets/js/jquery.flot.min.js}"></script>
<script th:src="@{admin/assets/js/jquery.flot.pie.min.js}"></script>
<script th:src="@{admin/assets/js/jquery.flot.resize.min.js}"></script>
<script th:src="@{admin/assets/js/ace-elements.min.js}"></script>
<script th:src="@{admin/assets/js/ace.min.js}"></script>

<!-- page specific plugin scripts -->
<script th:src="@{admin/assets/js/jquery-ui.min.js}"></script>

<script type="text/javascript" >

    function showAlertBeforeDelete(callback) {
        swal({
            title: "Xác nhận xóa",
            text: "Bạn có chắc chắn xóa những dòng đã chọn",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Xác nhận",
            cancelButtonText: "Hủy bỏ",
            confirmButtonClass: "btn btn-success",
            cancelButtonClass: "btn btn-danger"
        }).then(function (res) {
            if (res.value) {
                callback();
            } else if (res.dismiss == 'cancel') {
                console.log('cancel');
            }
        });
    }


    function showAlertBeforeAdd(callback){
        swal({
            title: 'Xác nhận lưu',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Xác nhận',
            denyButtonText: `Hủy bỏ `,
        }).then(function (res) {
            if (res.value) {
                callback();
            } else if (res.dismiss == 'cancel') {
                console.log('cancel');
            }
        });
    }
    function showAlertBeforeUpdate(callback){
        swal({
            title: 'Xác nhận chỉnh sửa',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Xác nhận',
            denyButtonText: `Hủy bỏ`,
        }).then(function (res) {
            if (res.value) {
                callback();
            } else if (res.dismiss == 'cancel') {
                console.log('cancel');
            }
        });
    }


    /* upload files */

    $('#thumbnail').change(function (){
        showImageThumbnail(this);
    })
    let fileName ;
    function showImageThumbnail(fileInput){
        let dataFiles = new FormData();
        let file = fileInput.files[0];
        let reader = new FileReader();
        fileName = fileInput.files[0].name;
        reader.onload = function (e){
            $('#fileImage').attr('src',e.target.result);
            dataFiles.append('thumbnail',fileInput.files[0]);
            uploadFile(dataFiles);
        };
        reader.readAsDataURL(file);
    }
    function uploadFile(dataFiles){
        $.ajax({
            url : '/api/files',
            type: 'POST',
            data: dataFiles,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                console.log(result)
            },
            error: function (error) {
                console.log(error)
            }
        });
    }

</script>
<th:block layout:fragment="script"></th:block>

</body>
</html>